$light: hsl(329, 100%, 95%);
$background: #19041d;
$primary: #d49db9;
$secondary: #ff0088;
$accent: #f53498;



/*
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;
*/